################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CadsExtensions/obj
/Output
/CadsExtensions/CadsBeam.csproj.user
